<div class="header-dropdown">
  <ul class="dropdownMenu text-center">
    <li>
      <i class="fas fa-bars" (click)="showSubMenu()" ></i>
    </li>
  </ul>
  <ul class="dropdown-navs" *ngIf="!isHiddenSubMenu" (mouseenter)="overMenu()" (mouseleave)="outMenu()">
    <li *ngFor="let nav of listNav" routerLinkActive="background-active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/{{nav.path}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{nav.name}}</a>
    </li>
  </ul>
</div>
