.our-services{
  padding: 30px 0;
}
.our-services .container{
  width: 80%;
  margin: 0 auto;
}
.title-first {
  font-size: 30px;
  letter-spacing: 0.15em;
  color: #65b6d6;
  font-weight: 500;
}
.img-row{
  margin-bottom: 70px;
  margin-top: 20px;
}
.img-2 img{
  width: 70%;
}
.img-2{
  border-top: 1px dashed rgba(28, 110, 168, 0.7);
  border-bottom: 1px dashed rgba(28, 110, 168, 0.7);
}
.img-1,.img-2,.img-3{
  padding: 25px 0;
}
.img-3 img{
  width: 45%;
}
.title-second {
  font-size: 25px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.1);
  font-weight: 500;
  margin-bottom: 50px;
}
img{
  width: 100%;
}
.text-web-dev{
font-weight: bold;
font-size: 30px;
line-height: 150%;
letter-spacing: 0.11em;
color: rgba(0, 0, 0, 0.54);
}
.text-web-dev span{
  color: #1C6EA8;
}
.text-labor{
font-size: 18px;
line-height: 27px;
letter-spacing: 0.11em;
}
.labor-dev img{
  margin: 30px 0 100px 0;
}
.full-life-dev img{
  margin: 20px 0;
}
.text-something{
font-size: 18px;
line-height: 150%;
letter-spacing: 0.11em;
color: rgba(0, 0, 0, 0.54);
}
.img-19{
  width: 80%;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  .row{
    display: flex;
    align-items: center;
  }
  .text-web-dev{
    font-size: 22px;
  }
  .text-something{
    font-size: 14px;
  }
}
@media only screen and (max-width: 414px) {
  .our-services .container{
    width: 95%;
  }
  .img-19{
    width: 100%;
  }
  .title-second{
    margin-bottom: 35px;
  }
  .img-row{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .labor-dev img{
    margin:20px 0 60px 0;
  }
}
@media only screen and (max-width: 375px) {
  .text-web-dev{
    font-size: 21px;
  }
  .text-something{
    font-size: 13px;
  }
}
@media only screen and (max-width: 360px) {
  .text-web-dev{
    font-size: 20px;
  }
  .text-something{
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .text-web-dev{
    font-size: 15px;
  }
  .text-something{
    font-size: 9px;
  }
}
