<div class="our-services text-center">
  <div class="container">
    <div class="title-first">OUR SERVICES</div>
    <div class="title-second">OUR SERVICES</div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <p class="text-web-dev"><span>Web </span>Development</p>
        <p class="text-something">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="../../../../assets/images/image 3.png" alt="web-dev" />
      </div>
    </div>
    <div class="img-row">
      <div class="img-1">
        <img src="../../../../assets/images/Frame 63.png" alt="" />
      </div>
      <div class="img-2">
        <img src="../../../../assets/images/Frame 64.png" alt="" />
      </div>
      <div class="img-3">
        <img src="../../../../assets/images/Frame 74.png" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-left">
        <img class="img-19" src="../../../../assets/images/image 19.png" alt="web-dev" />
      </div>
      <div class="col-sm-6 text-left">
        <p class="text-web-dev"><span>Mobile Apps</span></p>
        <p class="text-something">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <div class="img-row">
      <div class="img-1">
        <img src="../../../../assets/images/Frame 66.png" alt="" />
      </div>
      <div class="img-2">
        <img src="../../../../assets/images/Frame 67.png" alt="" />
      </div>
      <div class="img-3">
        <img src="../../../../assets/images/Frame 77.png" alt="" />
      </div>
    </div>
    <div class="labor-dev text-left">
      <p class="text-web-dev"><span>Labor </span>Development</p>
      <p class="text-labor">Phát triển theo hình thức Labo là việc thuê các kỹ sư ưu tú ở Việt Nam trong một thời gian nhất định, để phát triển phần mềm cho dự án lâu dài. Vi-MASH có đội ngữ BrSE có nhiều năm làm việc với nhiều KH lớn, đội ngũ tester 100% có tiếng Nhật N2 trở lên nên đảm bảo hiểu rõ yêu cầu của KH và triền đạt cho team phát triển hiểu đúng và đầy đủ muốn của KH.</p>
      <img src="../../../../assets/images/Group 94.png" alt="labor-dev">
    </div>
    <div class="full-life-dev text-left">
      <p class="text-web-dev">Full<span>Life - Circle</span> Development</p>
      <p class="text-labor">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <img src="../../../../assets/images/Group 60.png" alt="labor-dev">
    </div>
  </div>
</div>
