<div class="about-us">
  <div class="container">
    <div class="text-title text-center">
      <div class="title-first">ABOUT COMPANY</div>
      <div class="title-second">ABOUT COMPANY</div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-center">
        <img class="img-job" src="../../../../assets/images/Group.png" alt="" />
        <p class="title-img">GOOD JOB</p>
        <p class="text-img">お客様、会社、自身の為に良い仕事をし、</p>
      </div>
      <div class="col-sm-4 text-center">
        <img src="../../../../assets/images/Group (1).png" alt="" />
        <p class="title-img">GOOD SALARY</p>
        <p class="text-img">
          それら自身の評価の基、自身や家族の為に良い給与をもらい、
        </p>
      </div>
      <div class="col-sm-4 text-center">
        <img src="../../../../assets/images/Group (2).png" alt="" />
        <p class="title-img">GOOD LIFE</p>
        <p class="text-img">
          自身や家族が良い生活を送れるよう、日々努力、向上及び精進する事
        </p>
      </div>
    </div>
    <div class="row img-about">
      <div class="col-sm-4">
        <img src="../../../../assets/images/DSC_2588 1.png" alt="" />
      </div>
      <div class="col-sm-8">
        <div class="text-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet. Amet minim mollit non deserunt
          ullamco est sit aliqua dolor do amet sint.
        </div>
        <div class="text-description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet. Amet minim mollit non deserunt
          ullamco est sit aliqua dolor do amet sint.
        </div>
        <img src="../../../../assets/images/image 38.png" alt="" />
      </div>
    </div>
    <div class="maps">
      <hr />
      <div class="text-maps">
        ACCESS MAP
      </div>
      <div class="location">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.793317994255!2d108.21762591416993!3d16.076211543522618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219b6e446c591%3A0x4ccc7746f7de7afd!2sC%C3%94NG%20TY%20TNHH%20VI-MASH%20SOFTWARE!5e0!3m2!1svi!2s!4v1638842373850!5m2!1svi!2s"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
      </div>
    </div>
  </div>
</div>
