<div class="container recruitment text-center">
  <div class="title-first">RECRUITMENT INFORMATION</div>
  <div class="title-second">RECRUITMENT INFORMATION</div>
  <div class="text-date text-left">
    01/10/2021
  </div>
  <hr>
  <div class="row">
    <div class="find-memeber text-left">
      <span class="title">Finding for Full-Stack Development</span>
      <span class="date">01/10/2021 ~ 01/10/2021</span>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Overview:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Requirement:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="find-memeber text-left">
      <span class="title">Finding for Full-Stack Development</span>
      <span class="date">01/10/2021 ~ 01/10/2021</span>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Overview:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Requirement:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="find-memeber text-left">
      <span class="title">Finding for Full-Stack Development</span>
      <span class="date">01/10/2021 ~ 01/10/2021</span>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Overview:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Requirement:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="text-date text-left">
    05/10/2020
  </div>
  <hr>
  <div class="row">
    <div class="find-memeber text-left">
      <span class="title">Finding for Full-Stack Development</span>
      <span class="date">01/10/2021 ~ 01/10/2021</span>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Overview:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Requirement:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="find-memeber text-left">
      <span class="title">Finding for Full-Stack Development</span>
      <span class="date">01/10/2021 ~ 01/10/2021</span>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Overview:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Requirement:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="find-memeber text-left">
      <span class="title">Finding for Full-Stack Development</span>
      <span class="date">01/10/2021 ~ 01/10/2021</span>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Overview:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
    <div class="col-sm-6 text-left">
      <div class="text-overview">
        Requirement:
      </div>
      <ul>
        <li>
          Amet minim mollit non deserunt
        </li>
        <li>
          Velit officia consequat duis enim velit mollit.
        </li>
        <li>
          Amet minim mollit non deserunt Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </li>
        <li>
          Amet minim mollit non
        </li>
      </ul>
    </div>
  </div>
</div>
